<button class="button unblock-button">
  <span class="icon">
    <i class="fas fa-unlock"></i>
  </span>
</button>
<a class="button" href="{{"/reservation/view/" + reservation.id}}">
  <span class="icon">
    <i class="fas fa-search has-text-black"></i>
  </span>
</a>
<button class="button" disabled title="A finished Reservation cannot be modified">
  <span class="icon">
    <i class="fas fa-edit has-text-black"></i>
  </span>
</button>
