<button class="button finish-button">
  <span class="icon">
    <i class="fas fa-check"></i>
  </span>
</button>
<a class="button" href="{{"/reservation/view/" + reservation.id}}">
  <span class="icon">
    <i class="fas fa-search has-text-black"></i>
  </span>
</a>
<a class="button" href="{{"/reservation/edit/" + reservation.id}}">
  <span class="icon">
    <i class="fas fa-edit has-text-black"></i>
  </span>
</a>
