{% extends "views/layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/manage.css">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">There are currently {{ reservations.length }} total reservations.</h1>
      <table class="table align-middle">
        <thead>
          <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Price per day</th>
            <th>Total Price</th>
            <th>Payment Method</th>
            <th>Paid</th>
            <th>Status</th>
            <th>Car ID</th>
            <th>User ID</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in reservations %}
            {% include "reservation/views/layouts/table-row.njk" %}
          {% endfor %}
        </tbody>
      </table>
      {% include "reservation/views/layouts/modal.njk" %}
    </div>
  </section>
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript" src="/js/toggle-reservation-modals.js"></script>
{% endblock %}
