<div class="tile is-parent">
  <article class="tile is-child notification is-info is-light">
    <div class="content">
      <p class="title">Last Reservations</p>
      <div class="content">
        {% if reservations.length > 0 %}
          <table class="table align-middle">
            <thead>
              <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Price Per Day</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for reservation in reservations | reverse %}
                <tr>
                  <th>
                    <a href="{{ "/reservation/view/" + reservation.id }}">{{ reservation.id }}</a>
                  </th>
                  <td>{{ reservation.formattedDates.startDate }}</td>
                  <td>{{ reservation.formattedDates.finishDate }}</td>
                  <td>{{ reservation.pricePerDay }}</td>
                  <td>{{ reservation.status }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <p class="subtitle">There are no reservations for this user</p>
            {% endif %}
          </tbody>
        </table>

      </div>
    </div>
  </article>
</div>
