{% extends "views/layouts/base.njk" %}

{% block body %}

  <form class="container mt-4" method="POST" action="/car/save">
    <div class="field">
      <label class="label">Brand</label>
      <div class="control">
        <div class="select">
          <select name="brand">
            <option>Choose one</option>
            <option>Ford</option>
            <option>Chevrolet</option>
            <option>Peugeot</option>
            <option>Honda</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Model</label>
      <div class="control">
        <input class="input" type="text" name="model" placeholder="i.e. Onyx, 207, Fit">
      </div>
    </div>
    <div class="field">
      <label class="label">Year</label>
      <div class="control">
        <div class="select">
          <select name="year">
            <option>Choose one</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Kms</label>
      <div class="control">
        <input class="input" type="number" name="kms">
      </div>
    </div>
    <div class="field">
      <label class="label">Color</label>
      <div class="control">
        <input class="input" type="text" name="color">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Air Conditioner</label>
        <label class="radio">
          <input type="radio" name="ac">
        Yes
      </label>
        <label class="radio">
          <input type="radio" name="ac">
        No
      </label>
      </div>
    </div>
    <div class="field">
      <label class="label">Passengers</label>
      <div class="control">
        <div class="select">
          <select name="passengers">
            <option>Choose one</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Transmission</label>
        <label class="radio">
          <input type="radio" name="transmission">
      Manual
    </label>
        <label class="radio">
          <input type="radio" name="transmission">
      Automatic
    </label>
      </div>
    </div>
    <div class="field">
      <label class="label">Price</label>
      <div class="control">
        <input class="input" type="number" name="price">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>

  </form>

{% endblock %}
