{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Editing Car with ID {{ car.id }}</h1>
      {% include "car/views/layouts/form.njk" %}
    </div>
  </section>
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript" src="/js/cancel.js"></script>
{% endblock %}
