{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Total Cars</p>
            <p class="title">{{ carsLength }}</p>
          </div>
        </div>
      </nav>
    </div>
  </section>
  {% if lastAddedCar %}
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Last Added Car</h1>
          <table class="table">
            <tbody>
              <tr>
                <th>ID</th>
                <td>{{ lastAddedCar.id }}</td>
              </tr>
              <tr>
                <th>Brand</th>
                <td>{{ lastAddedCar.brand }}</td>
              </tr>
              <tr>
                <th>Model</th>
                <td>{{ lastAddedCar.model }}</td>
              </tr>
              <tr>
                <th>Year</th>
                <td>{{ lastAddedCar.year }}</td>
              </tr>
              <tr>
                <th>Kilometer Count</th>
                <td>{{ lastAddedCar.kms }} kms</td>
              </tr>
              <tr>
                <th>Color</th>
                <td>{{ lastAddedCar.color }}</td>
              </tr>
              <tr>
                <th>Air Conditioner</th>
                <td>{{ lastAddedCar.ac }}</td>
              </tr>
              <tr>
                <th>Max passengers</th>
                <td>{{ lastAddedCar.passengers }}</td>
              </tr>
              <tr>
                <th>Transmission</th>
                <td>{{ lastAddedCar.transmission }}</td>
              </tr>
              <tr>
                <th>Price</th>
                <td>$ {{ lastAddedCar.price }}</td>
              </tr>
              <tr>
                <th>Created</th>
                <td>{{ lastAddedCar.createdAt }}</td>
              </tr>
              <tr>
                <th>Updated</th>
                <td>{{ lastAddedCar.updatedAt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
