{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ car.brand }}
          {{ car.model }}
          {{ car.year }}
        </h1>
        <ul class="subtitle">
          <li>{{ car.kms }} Kms</li>
          <li>Color: {{ car.color }}</li>
          <li>Air Conditioner: {{ car.ac }}</li>
          <li>Max passengers: {{ car.passengers }}</li>
          <li>Transmission: {{ car.transmission }}</li>
          <li>Price: $ {{ car.price }}</li>
          <li>Created: {{ car.createdAt }}</li>
          <li>Updated: {{ car.updatedAt }}</li>
        </ul>
        <div class="buttons">
          <a class="button is-link is-outlined" href={{ '/car/edit/' + car.id }}>
            <span>Edit</span>
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          <a class="button is-danger is-outlined" href={{ '/car/delete/' + car.id }}>
            <span>Delete</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
